header h1 {
    background: url("background.png") left / auto 100% no-repeat, url("background.png") right / auto 100% no-repeat;
}

.root {
    font-size: larger;
}

img.main-image {
    width: 300px;
}

img.additional-image {
    width: 180px;
}