{% extends "layout/basic.html" %}

{% load static %}
<!--{% load bootstrap4 %} -->

{% block content %}
    <h2>Файлы</h2>
    <div>{{ text }}</div>
    <ul class="list-unstyled">
        {% for folder in folders %}
            <li style="width:20%; display:inline-block" class="media my-5 p-3 border">
                <img style="width:100%" class="mr-3" src="{% static 'disk/folder.png' %}">
                <h2><a href="{{ url }}{{ all }}{{ folder }}/">{{ folder }}</a></h2>
            </li>
        {% endfor %}
        {% for file in files %}
            <li style="width:20%; display:inline-block" class="media my-5 p-3 border">
                <img style="width:100%" class="mr-3" src="{% static 'disk/file.png' %}">
                <h2><a href="{{ url }}{{ all }}{{ file }}/">{{ file }}</a></h2>
            </li>
        {% endfor %}
        <p>
            <a href='#' onClick="javascript:history.go(-1);">Назад</a>
            <a href="{% url 'disk:upload' %}{{ all }}">Добавить</a>
        </p>
    </ul>
{% endblock %}